#blog_media_filter {
	display: flex;
	flex-direction: row;

	.blog_media_filter_toggle {
		flex-basis: 1;
		flex-grow: 0;
		flex-shrink: 0;
		max-height: 38px;
	}

	.blog_media_filter_fields {
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 10px;

		.MuiGrid-item {
			margin-bottom: 10px;
		}

		.blog_media_filter_explicit {
			margin-top: 10px;

			.blog_media_filter_date {
				width: 50%;
			}
		}
	}
}