#blog_new_post {
	display: flex;
	flex-direction: column;
	height: 100%;

	.blog_new_post_footer,
	.blog_new_post_header {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;

		padding: 5px;
	}

	.blog_new_post_content {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}
}