#blog_new_post {
	height: 100%;
	position: relative;

	.blog_new_post_drawer {
		background-color: #fff;
		display: none;
		flex-direction: column;
		padding: 5px;
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
		z-index: 1000;

		.blog_new_post_drawer_fields {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
			overflow: auto;
			padding-top: 5px;
		}

		.blog_new_post_drawer_actions {
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 0;
			text-align: right;
		}
	}

	.blog_new_post_drawer.open {
		display: flex;
		width: calc(100vw - 35px);
	}

	.blog_new_post_drawer_icon {
		background-color: #fff;
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 1000;
	}

	.blog_new_post_drawer_icon.open {
		right: calc(100vw - 40px);
	}

	.blog_new_post_content {
		height: 100%;
	}
}

@media only screen and (min-width: 600px) {

	#blog_new_post {
		display: flex;
		flex-direction: row;
		height: 100%;

		.blog_new_post_drawer {
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 0;

			display: flex;
			position: relative;
			right: unset;
			top: unset;
			width: 400px;
		}

		.blog_new_post_content {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}