#blog {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	.MuiFormControl-root {
		width: 100%;
	}

	.MuiInputBase-root {
		width: 100%;

		input, select {
			width: 100%;
		}
	}
}

#blog_tabs {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

#blog_content {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	overflow: auto;
}

i.fa-trash-alt.confirm {
	color: #ff0000;
}

.MuiAccordion-root.MuiPaper-root {
	margin: 0;
}